/* -------------------------------------------- */

/*    SHARED STYLES                    START    */

/* -------------------------------------------- */

/*

NB:

CP Payne's Grey:	hsla(206, 18%, 16%, 1);		(Main text colour, use variation in luminance for other text and borders)
CP Red:						hsla(345, 100%, 40%, 1);	(Highlights, Links)

*/

/* -------------------------------------------- */

/*    COLOURS                          START    */



/*    COLOURS                            END    */

html {
	font-size: 100%;
	}

* {
	box-sizing: border-box;
	}

body {
	color: hsla(206, 18%, 16%, 1); /* Main Text Colour */
	font: normal 1rem/1.5 "PT Sans", sans-serif;
/*font: 1rem/1.5 PTSansRegular, sans-serif; */ /* Production Line */
	text-rendering: optimizeLegibility;
	hyphens: auto;
/*background-image: url("../images/24.png"); */
/*background-image: url("../images/12.png"); */
/*background-image: url("../images/08.png"); */
/*background-image: url("../images/06.png"); */
	background-position-y: -7px;
/*text-align:justify; */
	}

.no_css, nav h6, /* Fix until Firefox recognises column-span >>> */ section > h2 {
	 display: none;
	}

img {
	width: 100%;
	}

/*    LINKS                                     */

a,
a:link,
a:visited,
.index_card footer a,
.index_card footer a:link,
.index_card footer a:visited {
	color: hsla(345, 100%, 40%, 1); /*   CP Red   */
	text-decoration: none;
	}

a:hover,
a:active {
	text-decoration: underline;
	}

nav a, /*             nav link-like behaviour   */
nav a:link,
nav a:visited,
.index_card a,
.index_card a:link,
.index_card a:visited {
	color: hsla(206, 18%, 16%, 1);
	text-decoration: none;
	}

nav a:hover, /*       nav link-like behaviour   */
.index_card a:hover {
	color: hsla(345, 100%, 40%, 1);
	}


/*    ARTICLE - GENERAL                         */

h1 { /*           Use only for article titles   */
	font: 2rem "PT Serif";
/*font: 2rem PTSerifRegular, sans-serif; */ /* Production Line */
	z-index: 1;
	margin-top: 8.675rem;
	margin-bottom: 3.475rem;
	}

/*    Fix until Firefox recognises column-span  */

p + h2,
div + h2,
section + h2,
img + h2 {
	/* copy margin rules for h2 below. */
	grid-column: 3 / 7;
	margin-top: -.4rem;
	margin-bottom: -1.1rem; /* h2 margin-bottom - 1.5rem */
	}

/* ^^ Fix until Firefox recognises column-span  */

h2 { /* Section Titles */
	font: 1.25rem/2 "PT Serif";
/*font: 1.25rem/2 PTSerifRegular, sans-serif; */ /* Production Line */
	margin-top: -.4rem;
	margin-bottom: .4rem;
	column-span: all;
	}

p + p :not(footer p + p, .solo, .solo + p, blockquote p.page_ref ) {
	text-indent: 1.5rem;
	}

footer p, figcaption {
	font-size: 0.75rem;  /* 12px */
/*line-height: 1.25rem; recalculate as plain number */
	color: hsla(206, 18%, 60%, 1);
	}

figcaption {
	color: hsla(206, 18%, 32%, 1);
	font-style: italic; /* Needs to be full font */
	}

footer p.tags {
	padding-top: 1.5rem;
	}

footer img {
	padding-top: 1.75rem;
	}

[alt="// ENDS"] {
	width:auto;
	}

blockquote {
	font-family: "PT Serif";
/*font-family: PTSerifRegular, sans-serif; */ /* Production Line */
	}

blockquote p {
	padding-left: 3rem;/*3.125rem;*/ /* check but consider padding 0 3rem; */
	padding-right: 3rem;
	}

blockquote p.page_ref { /* Needs to be full font */
	font-size: 0.75rem;  /* 12px */
/*line-height: 1.25rem; recalculate as plain number */
	color: hsla(206, 18%, 60%, 1);
	font-style: italic;
	}

cite, em, i { font-style: italic; /* Change for font on live site */ }

strong, b { font-weight: bold; /* Change for font on live site */ }

.solo {	padding: 1.5rem 0; }

em > i, i > em, .card p > i, .card p > em { font-style: normal; }

/* -------------------------------------------- */

/*    SHARED STYLES                      END    */

/* -------------------------------------------- */

/*    ARTICLE - FEATURE                         */

.feature h1 + div { /*Standfirst */
	z-index: 1;
	}

.feature h1 + div + img, .full_bleed { /* Background splash header and full bleed images */
	height: 100vh;
	object-fit: cover;
	}

/*    MULTICOLUMN                               */

.c4, .c3, .c2 { column-gap: 1.5rem; }

.c4 { column-count: 4; }

.c3 { column-count: 3; }

.c2 { column-count: 2; }

/*    ROLLOVER HIDE / REVEAL                    */

nav .hide {
	height: 0;
	}

.hide {
	opacity: 0;
	transition: opacity .25s linear 0s, height .25s ease-out .1s;
	}

nav:hover .hide,
footer:hover .hide,
.index_card:hover .hide {
	height: auto;
	opacity: 1;
	transition: opacity .25s linear 0s,  height .25s linear 0s;
	}

/*    NAV AREAS - GENERAL                       */

nav {
	font-size: 0.875rem; /* 14px */
	}

nav img {
	clip-path: circle();
	width: 2.5rem;
	height: 2.5rem;
	}

nav > ul, .nav_older {
	padding-right: .75rem;
	border-right: 1px solid hsla(206, 18%, 70%, 1);
	text-align: right;
	margin-right: -.75rem;
	}

.section_list li:last-child,
.head_nav ul ul li:first-child {
	padding-top: 0.75rem; /* maybe adjust to be smaller */
	}

form {
	padding: 0.2rem 0.75rem 0.1375rem;
	border-left: 1px solid hsla(206, 18%, 70%, 1);
	border-right: 1px solid hsla(206, 18%, 70%, 1);
	margin: 0.25rem -.75rem auto;
	}

input[type="text"] {
	font-family: inherit;
  line-height: 1;
	padding: 0.2rem .4rem .35rem;
	width: 100%;
	border: 1px solid hsla(206, 18%, 70%, 1);
	color: hsla(206, 18%, 16%, 1);
	background-color: #fff;
	border-radius: 0.21875rem;
	}

nav > ul, nav .post_title, .nav_older, .nav_newer {
	padding-top: .19rem;
	padding-bottom: .315rem;
	margin-top: .25rem;
	}

/*    NAV - HEAD                                */

.head_nav img {
	opacity: .5;
	}

/*    NAV - FOOT                                */

.foot_nav ul, .foot_nav form, .foot_nav .nav_older {
	border-color: hsla(206, 18%, 70%, 1);
	}

.foot_nav {
	background-color: hsla(206, 18%, 85%, 1);
	}

.foot_nav ul {
	margin-bottom: .5rem;
	}
/* -------------------------------------------- */

/*    CUNABULA.IO                      START    */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULA.IO                      END      */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULAPRESS.COM                START    */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULAPRESS.COM                  END    */

/* -------------------------------------------- */
