/* -------------------------------------------- */

/*    SHARED STYLES                    START    */

/* -------------------------------------------- */

/*

NB:

CP Payne's Grey:	hsla(206, 18%, 16%, 1);		(Main text colour, use variation in luminance for other text and borders)
CP Red:						hsla(345, 100%, 40%, 1);	(Highlights, Links)

*/

/* -------------------------------------------- */

/*    COLOURS                          START    */



/*    COLOURS                            END    */

html {
	font-size: 100%;
	}

* {
	box-sizing: border-box;
	}

body {
	color: hsla(206, 18%, 16%, 1); /* Main Text Colour */
	font: normal normal normal 1rem/1.5 "PT Sans", sans-serif;
/*font: 1rem/1.5 PTSansRegular, sans-serif; */ /* Production Line */
	text-rendering: optimizeLegibility;
	hyphens: auto;
/*background-image: url("../images/24.png"); */
/*background-image: url("../images/12.png"); */
/*background-image: url("../images/08.png"); */
/*background-image: url("../images/06.png");
	background-position-y: 9px;
/*text-align:justify; */
	}

.no_css, .no_title h1, nav h6, /* Fix until Firefox recognises column-span >>> */ section > h2 {
	display: none;
	}

em, i, cite { font-style: italic; }

b, strong { font-weight: bold; }

img {
	width: 100%;
	}

/*    LINKS                                     */

a,
a:link,
a:visited,
.index_card footer a,
.index_card footer a:link,
.index_card footer a:visited {
	color: hsla(345, 100%, 40%, 1); /*   CP Red   */
	text-decoration: none;
	}

a:hover,
a:active {
	text-decoration: underline;
	}

nav a, /*             nav link-like behaviour   */
nav a:link,
nav a:visited,
.index_card a,
.index_card a:link,
.index_card a:visited {
	color: hsla(206, 18%, 16%, 1);
	text-decoration: none;
	}

nav a:hover, /*       nav link-like behaviour   */
.index_card a:hover {
	color: hsla(345, 100%, 40%, 1);
	}


/*    ARTICLE - GENERAL                         */

h1, #blog { /*           Use only for article titles   */
	font: 4rem "Fanwood Text";
	font-weight: normal;
/*color: hsla(206, 18%, 24%, 1); */
/*font: 2rem PTSerifRegular, sans-serif; */ /* Production Line */
	z-index: 1;
	margin-top: 8.05rem;
	margin-bottom: 1.95rem;
	}

/*    Fix until Firefox recognises column-span  */

p + h2,
div + h2,
section + h2,
img + h2 {
	grid-column: 3 / 7;
	margin-top: -.25rem;
	margin-bottom: -.75rem;
	}

/* ^^ Fix until Firefox recognises column-span  */

h2 { /* Section Titles */
	font: 2rem/2 "Fanwood Text";
	font-style: italic;
	font-weight: normal;
	margin-top: -.25rem;
	margin-bottom: -.75rem;
	column-span: all;
	}

p + p {
	text-indent: 1.5rem;
	}

footer p + p, .solo, .solo + p, blockquote.page_ref p:last-child, .nav_newer, .year {
	text-indent: 0;
	}

footer p, figcaption, .categories {
	font-size: 0.75rem;  /* 12px */
	}

footer p, figcaption {
	color: hsla(206, 18%, 60%, 1);
	}

.tags { margin-top: 1.9rem; }

.date_posted { margin-top: .25rem; }

figcaption {
	color: hsla(206, 18%, 32%, 1);
	font-style: italic;
	}

[alt="// ENDS"] {
	width:auto;
	margin: 2.2rem 0 -.375rem;
	}

blockquote {
	font-family: "PT Serif";
	font-style: italic;
	}

blockquote p {
	font-style: italic;
	text-align: justify;
	padding: 0 1rem;
	}

blockquote > p {
	text-indent: -.2rem
	}

blockquote.page_ref p:last-child {
	font-size: 0.75rem;  /* 12px */
	color: hsla(206, 18%, 60%, 1);
	font-style: italic;
	padding-left: 0;
	margin-top: .3rem;
	}

.solo {	padding: 1.5rem 0; }

em > i, i > em, .index_card i, .index_card em { font-style: normal; }

/* -------------------------------------------- */

/*    SHARED STYLES                      END    */

/* -------------------------------------------- */

.standard, .feature { margin-bottom: 9rem; }

/*    ARTICLE - FEATURE                         */

.feature h1 + div { /*Standfirst */
	z-index: 1;
	}

.feature h1 + div + img, .full_bleed { /* Background splash header and full bleed images */
	height: 100vh;
	object-fit: cover;
	}

/*    MULTICOLUMN                               */

.c4, .c3, .c2 { column-gap: 1.5rem; }

.c4 { column-count: 4; }

.c3 { column-count: 3; }

.c2 { column-count: 2; }

/*    ROLLOVER HIDE / REVEAL                    */

nav .hide { height: 0; }

.hide {
	opacity: 0;
	transition: opacity .25s linear 0s, height .25s ease-out .1s;
	}

nav:hover .hide,
footer:hover .hide,
.index_card:hover .hide {
	height: auto;
	opacity: 1;
	transition: opacity .25s linear 0s,  height .25s linear 0s;
	}

/*    LIST PAGES GENERAL                        */

.drawer .index_card:first-child, .morgue_file .drawer  { /* Correct this for pages 2 onward should line up with sticky body text */
	margin-top: 15.5rem;
	}

/* Decide on this later
.morgue_file .drawer {
	margin-bottom: 3rem;
} */

.morgue_file .sticky + .drawer {
	margin-top: 2.75rem;
	}

.index_card {
	font-style: italic;
	border-top: 1px solid hsla(206, 18%, 70%, 1);
	padding: 4.5rem 0 3rem;
	}

.sticky + .drawer .index_card:first-child, #blog + .drawer .index_card:first-child {
	margin-top: 2.6rem;
	}

.search .sticky + .drawer .index_card:first-child {margin-top: -.4rem;}

.index_card h1 {
	font-size: 2.5rem;
	text-align: left;
	font-style: italic;
	padding: 1rem 0 0;
	margin:0;
	}

.index_card .extract {
	text-align: justify;
	margin-top: -.39rem;
	}

/*    LIST PAGE : SEARCH                        */

.search .index_card {
	padding-top:0;
	border:none;
	}

.search .index_card h1 {
	padding-top: 5.5rem;
	border-top: 1px solid hsla(206, 18%, 70%, 1);
	}

.search .index_card .extract {
	padding-top:6.2rem;
	margin-top:0;
	border-top: 1px solid hsla(206, 18%, 70%, 1);
	}

.search .index_card footer {
	padding-bottom:1.5rem;
	}

/*   LIST PAGE : OUTPUT                         */

.output .index_card .categories {
	margin-top: -.15rem;
	}

.output .index_card .year {
	margin-top: 1.875rem;
	}

.output .index_card footer {
	text-align: right;
	}

/*    MORGUE FILE                               */

.morgue_file .drawer img {
	object-fit: cover;
	width:100%;
	height: 100%;
	}

/*    NAV AREAS - GENERAL                       */

nav {
	font-size: 0.875rem; /* 14px */
	}

nav img {
	clip-path: circle();
	width: 2.5rem;
	height: 2.5rem;
	}

nav > ul, .nav_older {
	padding-right: .75rem;
	border-right: 1px solid hsla(206, 18%, 70%, 1);
	text-align: right;
	margin-right: -.75rem;
	}

.section_list li:last-child,
.head_nav ul ul li:first-child {
	padding-top: 0.75rem; /* maybe adjust to be smaller */
	}

form {
	padding: 0.2rem 0.75rem 0.1375rem;
	border-left: 1px solid hsla(206, 18%, 70%, 1);
	border-right: 1px solid hsla(206, 18%, 70%, 1);
	margin: 0.25rem -.75rem auto;
	}

input[type="text"] {
	font-family: inherit;
  line-height: 1;
	padding: 0.2rem .4rem .35rem;
	width: 100%;
	border: 1px solid hsla(206, 18%, 70%, 1);
	color: hsla(206, 18%, 16%, 1);
	background-color: #fff;
	border-radius: 0.21875rem;
	}

nav > ul, nav .post_title, .nav_older, .nav_newer {
	padding-top: .19rem;
	padding-bottom: .315rem;
	margin-top: .25rem;
	}

/*    NAV - HEAD                                */

.head_nav img {
	opacity: .5;
	}

/*    NAV - FOOT                                */

.turn_left { transform: rotate(-90deg); }

.foot_nav ul, .foot_nav form, .foot_nav .nav_older {
	border-color: hsla(206, 18%, 70%, 1);
	}

.foot_nav {
	background-color: hsla(206, 18%, 85%, 1);
	}

.foot_nav ul {
	margin-bottom: .5rem;
	}

/* -------------------------------------------- */

/*    CUNABULA.IO                      START    */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULA.IO                      END      */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULAPRESS.COM                START    */

/* -------------------------------------------- */

/* -------------------------------------------- */

/*    CUNABULAPRESS.COM                  END    */

/* -------------------------------------------- */
