/* -------------------------------------------- */

/*    FLEXBOX                          START    */

/* -------------------------------------------- */

.card {
	display: grid;
	width: 14rem;
	grid-gap: 1rem;
	grid-template:
		". . . ." 0
		". art_title art_title ." 6rem
		". art_extract art_extract ." 10rem
		". art_tags art_date ." 5rem
		". art_tags red_dot ." 1rem
		". . . ." 0 / 0 10rem 1rem 0;
	border: 1px solid hsla(206, 18%, 85%, 1);
	border-radius: .5rem;
	font-size: .875rem;
	line-height: 1.25;
	text-align: justify;
	color: hsla(206, 18%, 32%, 1);
	font-style: italic;
	margin:-1px;
	}

.card h1 {
	grid-area: art_title;
	font-size: 1.5rem;
	color: hsla(206, 18%, 16%, 1);
	text-align: left;
	hyphens: none;
	margin:0;
	}

.card .article_image {
	grid-area: art_extract;
	opacity: .15;

	}

.card .article_image img {
	height:100%;
	object-fit: contain;
	}

.card .extract {
	grid-area: art_extract;
	color: hsla(206, 18%, 0%, 1);
	overflow: hidden;
	align-self:center;
	}

.card .article_tags {
	grid-area: art_tags;
	color: hsla(206, 18%, 50%, 1);
	text-align: right;
	align-self:end;
	font-size: 0.75rem;
	margin-bottom: 2px;
	}

.card .date_posted {
	grid-area: art_date;
	writing-mode: vertical-rl;
	align-self: center;
	justify-self: center;
	line-height: 1;
	color: hsla(206, 18%, 50%, 1);
	transform: rotate(180deg);
	font-size: 0.75rem;
	}

.card img[alt="// ENDS"] {
	grid-area: red_dot;
	align-self: center;
	justify-self: center;
	padding: 0;
	margin: 0;
	}

.card a,
.card a:link,
.card a:visited {
	color: hsla(206, 18%, 16%, 1);
	text-decoration: none;
	}

.card h1 a:hover ,
.card .article_tags a:hover {
	color: hsla(345, 100%, 40%, 1);
	}

.tagged-with .drawer > br {
	display: none;
	}

/* -------------------------------------------- */

/*    FLEXBOX                            END    */

/* -------------------------------------------- */
