/* -------------------------------------------- */

/*    FEATURE QUERIES                  START    */

/*  */ @supports (display: grid) { /*---------- */


body, nav, [role="main"], article {
	display: grid;
	grid-gap: 1.25rem;
	}

body {
	grid-template-rows: 0 2.5rem minmax(calc(100vh - 6.25rem), auto) 0 auto;
	}

body, nav, article {
	grid-template-columns: 0 repeat(7, minmax(4rem /* define this properly */, 14rem)) 1fr;
	}

[role="main"] {
	grid-row: 1 / 4;
	grid-column: 1 / 10;
	}

[role="main"] .foot_bleed { /* full height, no separation from foot_nav block */
	grid-row: 1 / 5; /* standard 1.25 rem margin at the bottom */
	}

article {
	grid-template-rows: /*0*/ 6.375rem /*minmax(calc(100vh - 6.25rem), auto)*/;
	grid-auto-rows: min-content;
	}

/*    ARTICLE FEATURE                           */

.feature {
		grid-template-rows: 6.375rem repeat(3, auto));
}

.feature h1 + div { /*Standfirst */
	grid-area: 3 / 3 / 4 / 7;
	z-index: 1;
	}

.feature h1 + div + img { /* Background splash Image */
	grid-area: 1 / 1 / 5 / 10;
	height: 100vh;
	}

/*    ARTICLE GENERAL                           */

h1 {
	grid-area: 2 / 3 / 3 / 7;
	z-index: 1;
	}

/*    NAV                                       */

.head_nav {
	grid-area: 2 / 1 / 3 / 10;
	align-items: start;
	}

.foot_nav {
	grid-area: 4 / 1 / 6 / 10;
	align-items: start;
	grid-template-rows: repeat(3, auto);
	}

nav a:first-child, nav > ul {
	grid-area: 1 / 2 / 2 / 3;
	}

.foot_nav *, nav.foot_nav a:first-child {
	grid-row: 2 / 3;
	}

nav .post_title {
	grid-column: 3 / 5;
	}

nav form {
	grid-column: 5 / 6;
	}

.nav_older {
	grid-column: 6 / 7;
	justify-self:end;
	}

.nav_newer {
	grid-column: 7 / 8;
	}

/* */ } /*------------------------------------- */

/*    FEATURE QUERIES                    END    */

/* -------------------------------------------- */
