/* -------------------------------------------- */

/*    FEATURE QUERIES                  START    */

/*  */ @supports (display: grid) { /*---------- */


body, nav, [role="main"], article {
	display: grid;
	grid-gap: 1.25rem;
	}

body {
	grid-template-rows: 0 2.5rem minmax(calc(100vh - 6.25rem), auto) auto;
	}

body, nav, article {
	grid-template-columns: 0 repeat(7, minmax(4rem /* define this properly */, 14rem)) 1fr;
	}

[role="main"] {
	grid-row: 1 / 4;
	grid-column: 1 / 10;
}

article {
	grid-template-rows: /*0*/ 6.375rem /*minmax(calc(100vh - 6.25rem), auto)*/;
	grid-auto-rows: min-content;
}

.head_nav {
	grid-row: 2 / 3;
	grid-column: 1 / 10;
	align-items: start;
	}

.foot_nav {
	grid-row: 4 / 5;
	grid-column: 1 / 10;
	align-items: start;
	grid-template-rows: repeat(3, auto);
	}

nav a:first-child, nav > ul {
	grid-column:2/3;
	grid-row: 1/2;
	}

.foot_nav *, nav.foot_nav a:first-child {
	grid-row:2/3
	}

nav .post_title {
	grid-column: 3 / 5;
	}

nav form {
	grid-column: 5 / 6;
	}

.nav_older {
	grid-column: 6 / 7;
	justify-self:end;
	}

.nav_newer {
	grid-column: 7 / 8;
	}

/* */ } /*------------------------------------- */

/*    FEATURE QUERIES                    END    */

/* -------------------------------------------- */
