/* -------------------------------------------- */

/*    FEATURE QUERIES                  START    */

/*  */ @supports (display: grid) { /*---------- */

/*

ONLY GRID-SPECIFIC CODE SHOULD GO HERE + STYLES ONLY RELEVANT WHEN GRID IS SUPPORTED

*/

body, nav, [role="main"], article, .drawer, .index, .gr, .g4, .g3, .g2 {
	display: grid;
	grid-gap: 1.5rem;
	}

body {
	grid-template-rows: 0 2.5rem minmax(calc(100vh - 6.25rem), auto) 0 auto;
	}

body, nav, .feature, .standard, .index {
	grid-template-columns: 0 repeat(7, minmax(4rem /* define min size properly */, 14rem)) minmax(1.5rem, 1fr);
	}

[role="main"] {
	grid-area: 1 / 1 / 4 / 10; /* standard 1.5rem margin at the bottom of 'main' */
	}

[role="main"] .foot_bleed { /* full height, no separation from foot_nav block */
	grid-row: 1 / 5;
	}

/*    ARTICLE FEATURE                           */

.feature {
	grid-template-rows: repeat(3, auto));
	}

.feature h1 + div { /* Standfirst */
	grid-area: 2 / 3 / 3 / 7;
	}

.feature h1 + div + img { /* Background header splash image */
	grid-area: 1 / 1 / 4 / 10;
	}

/*    ARTICLE GENERAL                           */

h1 {
	grid-area: 1 / 3 / 2 / 7;
	}

.full_bleed { /* Full bleed images */
	grid-column: 1 / 10;
	}

.gr { grid-template-columns: repeat(2, 382fr) repeat(2, 236fr) repeat(2, 382fr); }

.g4 {	grid-template-columns: repeat(4, 1fr); }

.g3 { grid-template-columns: repeat(3, 1fr); }

.g2 { grid-template-columns: repeat(2, 1fr); }

/*    LIST PAGES GENERAL                        */

.sticky, .sticky + h2 {
	grid-column: 3 / 7;
	}

.sticky h1 {
	grid-area: auto;
	}

.drawer {
	grid-column: 3 / 7;
	grid-template-columns: repeat(12, 1fr)
	}

/*    LIST PAGE ABOUT                           */

.index_card {
	grid-column: span 12;
	}

.index_card h1 {
		padding-top: 3.5rem;
	grid-column: auto;
	margin:0;
	border-top: 4px solid hsla(206, 18%, 90%, 1);

	}

	.index_card p {
	padding: 4rem 0;
			/*border-bottom: 1px solid hsla(206, 18%, 80%, 1);*/
			border-top: 1px solid hsla(206, 18%, 80%, 1);
				margin-bottom: 10rem;
				text-align: justify;
		}

/*    OUTPUT LIST                               */

.output .index_card {
	grid-column: span 6;
	}

/*    MORGUE FILE                               */

.morgue_file .drawer {
	grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
	grid-auto-rows: 25px;
	grid-auto-flow: dense;
	}

/*    NAV                                       */

.head_nav {
	grid-area: 2 / 1 / 3 / 10;
	align-items: start; /* Stops overflow of borders when menu unhidden */
	}

.foot_nav {
	grid-area: 4 / 1 / 6 / 10;
	align-items: start;
	grid-template-rows: repeat(3, auto);
	}

nav a:first-child, nav > ul {
	grid-area: 1 / 2 / 2 / 3;
	}

.foot_nav *, nav.foot_nav a:first-child {
	grid-row: 2 / 3;
	}

nav .post_title {
	grid-column: 3 / 5;
	}

nav form {
	grid-column: 5 / 6;
	}

.nav_older {
	grid-column: 6 / 7;
	}

.nav_newer {
	grid-column: 7 / 8;
	}

/* */ } /*------------------------------------- */

/*    FEATURE QUERIES                    END    */

/* -------------------------------------------- */
